# =============================================================================
# IDE — local developer state (do not share via version control)
# =============================================================================
/shelf/
/workspace.xml
/caches/
/libraries/
/modules.xml
/navEditor.xml
/assetWizardSettings.xml

/appInsightsSettings.xml
/deploymentTargetSelector.xml
